<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>950378372987-vqfgb5fp58kic66cr3rp8f7frku43hf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950378372987-vqfgb5fp58kic66cr3rp8f7frku43hf5</string>
	<key>API_KEY</key>
	<string>AIzaSyD0MlT9PS03sYVscmMtbtTwEeJfQQFUkJs</string>
	<key>GCM_SENDER_ID</key>
	<string>950378372987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fitzafful.OurWedding</string>
	<key>PROJECT_ID</key>
	<string>ourwedding-927da</string>
	<key>STORAGE_BUCKET</key>
	<string>ourwedding-927da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950378372987:ios:5cf5976f7151a2b5</string>
	<key>DATABASE_URL</key>
	<string>https://ourwedding-927da.firebaseio.com</string>
</dict>
</plist>