<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>324809196676-7m0u1qin1cnkgj405v69vvmjs14f81bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324809196676-7m0u1qin1cnkgj405v69vvmjs14f81bj</string>
	<key>API_KEY</key>
	<string>AIzaSyBHF_kF6SKA4P-TA3VyKPjGeQG9YwO60PE</string>
	<key>GCM_SENDER_ID</key>
	<string>324809196676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oasiswebsoft.randm</string>
	<key>PROJECT_ID</key>
	<string>randmapp-cb2d1</string>
	<key>STORAGE_BUCKET</key>
	<string>randmapp-cb2d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324809196676:ios:72767ae4f6b16004</string>
	<key>DATABASE_URL</key>
	<string>https://randmapp-cb2d1.firebaseio.com</string>
</dict>
</plist>